.personality-type .overline {
  color: #808080;
  margin-bottom: 48px;
  margin-top: 24px;
}

.personality-type .overline,
.personality-type .title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: normal;
}

.personality-type .description {
  line-height: 1.6;
  white-space: pre-wrap;
}

.result-container {
  text-align: left;
  padding: 32px 0 0 0;
}

.result-container h2 {
  margin-bottom: 24px;
  font-size: 2rem;
}

.personality-type {
  background: radial-gradient(#1d202c, black 80%);
}