* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Zilla Slab', serif;
  background-color: #000;
  color: #fff;
}

.container {
  background: linear-gradient(90deg, black, #1d202c, black);
  max-width: 430px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  mix-blend-mode: soft-light;
  pointer-events: none;
  background: url(img/noise.svg);
}

.logo {
  width: 48px;
  margin: 0 auto 40px;
  display: block;
}

.content {
  text-align: center;
  position: relative;
  z-index: 1;
}

.overline {
  font-size: 1rem;
  letter-spacing: 0.1em;
  margin-bottom: 8px;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.intro {
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 320px;
  margin: 0 auto 48px;
}

.stages {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 48px;
}

.stage {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

/* centered 1,5,9,13… */
.stage:nth-child(4n+1) { margin: 0; }

/* 50L pares cada 2 partiendo del 2; 2,4,10,12… */
.stage:nth-child(8n+2), .stage:nth-child(8n+4) { margin-left: -50px; }

/* 75 L 8 en 8 partiendo del 3 */
.stage:nth-child(8n+3) { margin-left: -75px; }

/* 50R pares cada 2 partiendo del 6; 6,8,14,16… */
.stage:nth-child(8n+6), .stage:nth-child(8n+8) { margin-right: -50px; }

/* 75 R 8 en 8 partiendo del 7 */
.stage:nth-child(8n+7) { margin-right: -75px; }

.stage-top-platform {
  width: 64px;
  height: 64px;
  background: rgb(140 86 225);
  border-radius: 8px;
  transform: rotateX(55deg) rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  z-index: 1;
}

/* Plataforma normal (no disabled) */
.stage:not(.disabled) .stage-top-platform {
  animation: float 3s ease-in-out infinite;
}

/* Estado presionado para TODAS las plataformas */
.stage-top-platform.pressed {
  animation: pressAnimation 0.3s ease-out forwards !important;
}

/* Estado disabled (solo cambia el color y la animación de flotación) */
.stage.disabled .stage-top-platform {
  background: rgb(66 78 108);
}

.stage.disabled .stage-top-platform:not(.pressed) {
  animation: floatDisabled 3s ease-in-out infinite;
}

.stage-bottom-platform {
  width: 64px;
  height: 64px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transform: rotateX(55deg) rotate3d(0, 0, 1, 45deg);
  margin-top: -44px;
}

.oinc {
  position: absolute;
  top: 400px;
  right: 10%;
  width: 120px;
  height: auto;
}

@media (max-width: 430px) {
  .container {
      padding: 16px;
  }
  
  .title {
      font-size: 2rem;
  }
  
  .intro {
      font-size: 1.125rem;
      padding: 0 16px;
  }
}

@keyframes float {
  0% {
    transform: rotateX(55deg) rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotateX(55deg) rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 10px);
  }
  100% {
    transform: rotateX(55deg) rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  }
}

@keyframes floatDisabled {
  0% {
    transform: rotateX(55deg) rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotateX(55deg) rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 5px);
  }
  100% {
    transform: rotateX(55deg) rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  }
}

/* Nuevo keyframe para la animación de presionar */
@keyframes pressAnimation {
  from {
    transform: rotateX(55deg) rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  }
  to {
    transform: rotateX(55deg) rotate3d(0, 0, 1, 45deg) translate3d(25px, 25px, 0);
  }
}

/* Estado release */
.stage-top-platform.release {
  animation: releaseAnimation 0.2s ease-in forwards !important;
}

/* Nuevo keyframe para la animación de release */
@keyframes releaseAnimation {
  from {
    transform: rotateX(55deg) rotate3d(0, 0, 1, 45deg) translate3d(25px, 25px, 0);
  }
  to {
    transform: rotateX(55deg) rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  }
}

/* Bubble */
.bubble-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 25;
  pointer-events: none;
}

.bubble {
  position: relative;
  pointer-events: auto;
  background: rgb(140 86 225);
  padding: 24px;
  border-radius: 16px;
  text-align: left;
  z-index: 20;
  width: 340px;
  left: calc(50% - 170px);
  max-width: 100%;
}
.bubble-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 8px;
}
.bubble-text {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 16px;
}
.bubble-button {
  background: #fff;
  color: rgb(140 86 225);
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 0px rgb(255 255 255 / 40%);
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  width: 100%;
}
/* bubble top arrow */
.bubble:after {
  content: '';
  position: absolute;
  top: -8px;
  width: 16px;
  height: 16px;
  background: rgb(140 86 225);
  transform: rotate(45deg) translate(-5.5px, 5.5px);
  left: 50%;
  margin-left: var(--arrow-margin-left, 0);
  margin-right: var(--arrow-margin-right, 0);
}
/* bubble disabled */
.bubble.disabled {
  background: #424e6c;
}
.bubble.disabled:after {
  background: #424e6c;
}
.bubble.disabled .bubble-title,
.bubble.disabled .bubble-text {
  color: rgba(255, 255, 255, 0.5);
}
.bubble.disabled .bubble-button {
  background: rgba(255, 255, 255, 0.5);
  color: #424e6c;
  box-shadow: 0px 4px 0px rgb(255 255 255 / 25%);
  pointer-events: none;
}

/* Agregar el overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 20;
  display: none;
}

.stage.active {
  position: relative;
  z-index: 30;
}

.drawer-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: flex-end;
}

.drawer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.drawer-content {
  background: #fff;
  width: 100%;
  max-width: 430px;
  margin: 40px auto 0 auto; /* 40px fix branding */
  border-radius: 16px 16px 0 0;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  position: relative;
  height: calc(100vh + 40px); /* fix branding */
  top: 40px; /* fix branding */
}

/* Clases para la animación */
.drawer-modal.open .drawer-overlay {
  opacity: 1;
}

.drawer-modal.open .drawer-content {
  transform: translateY(0);
}

/* Agregar estos estilos */
.drawer-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.drawer-close:hover {
  background: rgba(0, 0, 0, 0.7);
}