.drawer-stage-content {
  padding: 24px;
  color: white;
  height: 100%;
}

.drawer-stage-content.outgrow {
  padding: 0;
  height: calc(100vh + 40px);
}

.drawer-stage-content.outgrow iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.drawer-stage-content h2 {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 400;
}

.drawer-stage-content h3 {
  font-size: 18px;
  margin-bottom: 24px;
  font-weight: 400;
}

.drawer-stage-content p {
  margin-bottom: 16px;
  line-height: 1.5;
}

.drawer-stage-content ul {
  list-style: none;
  padding: 0;
}

.drawer-stage-content li {
  margin-bottom: 12px;
  padding-left: 20px;
  position: relative;
}

.drawer-stage-content li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: rgb(140 86 225);
}

.drawer-stage-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.result-like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
}

.result-like-container .personality-type {
  padding: 32px 0 0 0;
}

.result-like-container .overline {
  color: #808080;
  margin-bottom: 48px;
  margin-top: 24px;
  letter-spacing: 0.1rem;
}

.result-like-container .title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3;
}

.result-like-container .bold {
  font-weight: 700;
}

.result-like-container .description {
  line-height: 1.6;
}

.result-like-container .tasks-list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.result-like-container .tasks-list li {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  position: relative;
}

.result-like-container .tasks-list li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--primary-color);
} 

.result-button {
  background-color: rgb(140 86 225);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 0px rgb(140 86 225 / 40%);
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 32px;
}