* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Zilla Slab', serif;
  background-color: #000;
  color: #fff;
  margin-top: 0;
  padding-top: 0;
}

button {
  font-family: inherit;
}

.container {
  background: linear-gradient(90deg, black, #1d202c, black);
  max-width: 430px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  mix-blend-mode: soft-light;
  pointer-events: none;
  background: url(/img/noise.svg);
}

.logo-container {
  padding-top: 40px;
  background: linear-gradient(180deg, black, transparent);
}

.logo {
  width: 48px;
  margin: 0 auto 40px;
  display: block;
}

.content {
  text-align: center;
  position: relative;
  z-index: 1;
}

.overline {
  font-size: 1rem;
  letter-spacing: 0.1em;
  margin-bottom: 8px;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.intro {
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 320px;
  margin: 0 auto 48px;
}

.credits {
  color: #424e6c;
  font-size: 0.875rem;
  padding-top: 120px;
  padding-bottom: 20px;
  text-align: center;
  background: linear-gradient(00deg, black, transparent);
}

.oinc {
  position: absolute;
  top: 492px;
  right: 10px;
  width: 130px;
  height: auto;
}

.coin {
  position: absolute;
  top: 1000px;
  left: 20px;
  width: 130px;
  height: auto;
}

.chapter:not(:first-child) {
  margin-top: 52px;
}

.lock {
  width: 30px;
  margin-bottom: 20px;
}

.chapter.disabled {
  opacity: 0.35;
}

@media (max-width: 430px) {
  .container {
      padding: 0 16px;
  }
  
  .title {
      font-size: 2rem;
  }
  
  .intro {
      font-size: 1.125rem;
      padding: 0 16px;
  }
}

.username {
  color: #9588da;
}